.Job {
  height: 150px;
  width: 100%;
  border-radius: 5px;
  color: var(--white);
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column;
  grid: auto / auto 1fr;
  padding: 20px 10px 10px 15px;
}

.Job > .logo {
  margin: 0 5px;
  padding: 5px;
  border-radius: 100%;
  background: var(--white);
  height: 30px;
  width: 30px;
}

.Job > main {
  display: grid;
}

.description-container {
  display: grid;
  grid-auto-flow: column;
  grid: auto / 1fr auto;
}

.description {
  display: grid;
  grid-gap: 10px;
  align-items: center;
  align-content: start;
}

.trashcan {
  margin: 0 10px 0 0;
  height: 28px;
  width: 28px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.trashcan:hover {
  background-color: var(--white);
  cursor: pointer;
}

.time-added {
  justify-self: end;
  align-self: end;
}
