.DeletePrompt {
  max-width: 350px;
  min-height: 300px;
  display: grid;
  align-content: center;
  justify-content: center;
}

.DeletePrompt > main {
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  padding: 0 50px;
  grid-gap: 15px;
}

.DeletePrompt > main > h4 {
  text-align: center;
  color: gray;
}

.DeletePrompt > main > .buttons {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 15px;
  padding: 15px;
}

.DeletePrompt > main > .buttons > button {
  height: 35px;
  width: 90px;
  border-radius: 5px;
  border: none;
  color: var(--white);
  font-family: "Optima";
  font-weight: bold;
}

.DeletePrompt > main > .buttons > .delete {
  background-color: var(--btn-primary);
}

.DeletePrompt > main > .buttons > .cancel {
  background-color: var(--btn-secondary);
}
