* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  --white: #eaecf1;
  --purple: #8000ff;
  --btn-primary: #8000ff;
  --btn-secondary: #a39da8;
  overscroll-behavior-y: none;
  background: var(--white);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
p {
  font-family: "Helvetica neue";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
